# generated RP reports
output/

venv*
*.pyc
__pycache__
.cache

.env
verify-performance-scripts-env
verify-performance-scripts-venv

# Intellij Project files
*.idea
*.iml

# OSX system files
.DS_Store

# Vim
*.swp
